@import 'SidebarProfile';
@import 'CoverProfile';
@import 'ContentProfile';
@import 'CommentBar';

@import "@fontsource/lilita-one";
@import "@fontsource/inter";
@import "@fontsource/quicksand";
@import url('https://fonts.cdnfonts.com/css/starborn');
                

.profile-wrapper {
    margin: 0 auto;
    width: 1440px;
    padding-top: 16px;
}
